/* Global Styles */
* {
  box-sizing: border-box;
}

/* Navbar Styles */
.navbar {
  background-color: #3367d6;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px 0;
}

.container {
  width: 90%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.navbar-logo-container {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.navbar-logo {
  width: 75px;
}

@media (min-width: 768px) {
  .navbar-logo {
    width: 100px;
  }
}

.navbar-search-container {
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

@media (min-width: 768px) {
  .navbar-search-container {
    justify-content: flex-start;
  }
}

.navbar-search {
  background-color: #2850a7;
  width: 100%;
  max-width: 500px;
  display: flex;
  flex-direction: row;
  border: 1px solid #6697ff;
  border-radius: 5px;
}

.navbar-search-img-container {
  width: 15%;
  min-width: 35px;
  text-align: center;
  align-self: center;
}

.navbar-search-img {
  width: 18px;
}

@media (min-width: 768px) {
  .navbar-search-img {
    width: 24px;
  }
}

.navbar-search-input-container {
  width: 85%;
}

.navbar-search-input {
  font-family: 'Roboto';
  font-size: 12px;
  color: #ececec;
  width: 100%;
  padding: 8px;
  background-color: transparent;
  border: none;
  border-left: 1px solid #6697ff;
  outline: none;
}

@media (min-width: 768px) {
  .navbar-search-input {
    font-size: 20px;
  }
}

/* History Styles */
.body {
  min-height: 90vh;
  padding: 20px;
}

.history-container {
  box-shadow: 0px 4px 16px 0px #bfbfbf;
  list-style-type: none;
  padding: 10px 30px;
}

/* no-list */

.no-list-signal-container {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.no-list-signal {
  font-family: 'Roboto';
  font-weight: 500;
  color: #64748b;
  font-size: 25px;
}
