.bg-container {
  min-height: 100vh;
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.container {
  width: 90%;
  max-width: 900px;
}

.heading {
  font-family: 'Lobster';
  font-size: 25px;
  color: #0f172a;
  font-weight: 900;
  text-align: center;
}

@media (min-width: 768px) {
  .heading {
    font-size: 40px;
  }
}

.filters-list-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding: 0px;
}

@media (min-width: 576px) {
  .filters-list-container {
    justify-content: center;
  }
}

.popular-repos-list-container {
  padding: 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.loader-container {
  margin-top: 30px;
  text-align: center;
}

.failure-container {
  margin-top: 70px;
  text-align: center;
}

.failure-img {
  width: 100%;
  max-width: 450px;
}

.failure-text {
  font-family: 'Bree Serif';
  font-weight: 900;
  font-size: 25px;
}

@media (min-width: 768px) {
  .failure-text {
    font-size: 35px;
  }
}
