/* Write your CSS here */

.destination-item {
  width: 350px;
  margin: 20px;
}

.destination-item-name {
  font-family: 'Open Sans';
  font-weight: 500;
  font-size: 14px;
}

@media (min-width: 768px) {
  .destination-item {
    width: 250px;
    margin: 20px 20px 20px 0px;
  }
  .destination-item-name {
    font-size: 18px;
  }
}

.destination-item-img {
  width: 100%;
}
