.card-1 {
  background-image: url('https://assets.ccbp.in/frontend/react-js/reusable-banners-card-1-bg.png');
  background-size: cover;
}

.card-2 {
  display: flex;
  justify-content: flex-end;
  background-image: url('https://assets.ccbp.in/frontend/react-js/reusable-banners-card-2-bg.png');
  background-size: cover;
}

.card-3 {
  display: flex;
  justify-content: center;
  text-align: center;
  background-image: url('https://assets.ccbp.in/frontend/react-js/reusable-banners-card-3-bg.png');
  background-size: cover;
}

/* Write your code here. */
.banner {
  border: solid #cbced2 1px;
  border-radius: 8px;
    margin-bottom: 20px;
}

.banner-text-container {
  padding: 60px;
}

.banner-heading {
  font-family: 'Roboto';
  font-weight: 600;
  font-size: 32px;
  color: #326a9d;
}

.banner-description {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 18px;
  color: #64748b;
}

.banner-button {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 14px;
  color: #326a9d;
  background-color: #ffffff;
  padding: 8px;
  border: solid #326a9d 1px;
  border-radius: 5px;
}
