.not-found-container {
  background-color: #000000;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.not-found-img {
  width: 60%;
  max-width: 400px;
}

.not-found-heading {
  font-family: 'Roboto';
  font-size: 30px;
  font-weight: 400;
  color: #ffffff;
  text-align: center;
}

.not-found-text {
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 400;
  color: #dcdcdc;
  text-align: center;
}

@media (min-width: 768px) {
  .not-found-heading {
    font-size: 40px;
  }

  .not-found-text {
    font-size: 18px;
  }
}
